<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exporter</title>
</head>
<body>
<h1>HOME PAGE FOR EXPORTER TEST</h1>
<a href="{% url 'export_file' %}">Click here to export file</a>
</body>
</html>